html, body {
    font-family: 'Raleway', sans-serif;
    font-weight: 100;
    padding: 0;
    margin: 0;
}

body {
    background: url('http://localhost/agenda-laravel/public/img/portada.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.top-right {
    background-color: #d0dedde0;
    position: absolute;
    height: 100vh;
    right: 0px;
    text-align: center;
    top: 0px;
    width: 25%;
}

.links > a {
    color: #565555;
    border-bottom: 1px solid #c7ae72;
    display: block;
    font-size: 22px;
    font-weight: bold;
    padding: 0.5em 0;
    margin: 1em 0;
    text-decoration: none;
}

.titulo-fecha {
    color: #565555;
    font-size: 22px;
    font-weight: bold;
    margin-top: 4em;
}

#calendario {
    display: flex;
    justify-content: center;   
}